In [76]:
import numpy as np
import pandas as pd

In [147]:
df = pd.read_csv("../../keras/ner_dataset.csv")

In [148]:
tags = np.unique(df.Tag)

In [149]:
tags

array(['B-art', 'B-eve', 'B-geo', 'B-gpe', 'B-nat', 'B-org', 'B-per',
       'B-tim', 'I-art', 'I-eve', 'I-geo', 'I-gpe', 'I-nat', 'I-org',
       'I-per', 'I-tim', 'O'], dtype=object)

In [150]:
transform_tag_mapping = {
    'B-art': ['Object'],
    'B-eve': ['Event'],
    'B-geo': ['Location', 'Party'],
    'B-gpe': ['Race'],
    'B-nat': ['SpecialTerm'],
    'B-org': ['Party'],
    'B-per': ['Party'],
    'B-tim': ['Time'],
    'I-art': ['Object'],
    'I-eve': ['Event'],
    'I-geo': ['Location', 'Party'],
    'I-gpe': ['Race', "Party"],
    'I-nat': ['SpecialTerm'],
    'I-org': ['Party'],
    'I-per': ['Party'],
    'I-tim': ['TemporalUnit'],
    'O': [],
}

In [151]:
def transform_tag(tag):
    out = transform_tag_mapping[tag]
    out = [tag] + out
    out = "|".join(out)
    return out

In [178]:
df[df.Word.apply(is_Float)]

        Sentence #   Word POS Tag
419            NaN    2.3  CD   O
6081           NaN    4.6  CD   O
6096           NaN  17.09  CD   O
11903          NaN    4.8  CD   O
11938          NaN    7.5  CD   O
...            ...    ...  ..  ..
1043472        NaN    2.3  CD   O
1045942        NaN   10.7  CD   O
1045953        NaN    2.3  CD   O
1046688        NaN    2.4  CD   O
1046720        NaN    1.8  CD   O

[851 rows x 4 columns]

In [174]:
a = df[df["Word"] == "1.3"]

In [170]:
df[13910:13915]

      Sentence #       Word  POS Tag
13910        NaN   received  VBN   O
13911        NaN          $    $   O
13912        NaN        1.3   CD   O
13913        NaN    million   CD   O
13914        NaN  illegally   RB   O

In [176]:
a

       Sentence # Word POS Tag
13912         NaN  1.3  CD   O
48103         NaN  1.3  CD   O
135048        NaN  1.3  CD   O
149619        NaN  1.3  CD   O
172745        NaN  1.3  CD   O
176116        NaN  1.3  CD   O
212674        NaN  1.3  CD   O
244465        NaN  1.3  CD   O
246967        NaN  1.3  CD   O
259749        NaN  1.3  CD   O
323702        NaN  1.3  CD   O
349396        NaN  1.3  CD   O
395647        NaN  1.3  CD   O
458257        NaN  1.3  CD   O
458925        NaN  1.3  CD   O
532934        NaN  1.3  CD   O
546693        NaN  1.3  CD   O
849670        NaN  1.3  CD   O
863074        NaN  1.3  CD   O
887735        NaN  1.3  CD   O
899117        NaN  1.3  CD   O
914809        NaN  1.3  CD   O
986257        NaN  1.3  CD   O

In [60]:
df["newTag"] = df.Tag.apply(transform_tag)

In [62]:
df.to_csv("multiple_tag_train.csv")

In [63]:
df2 = pd.read_csv("multiple_tag_train.csv")

In [69]:
df2.newTag[18]

'B-gpe|Race'

In [65]:
df2.head(60)

    Unnamed: 0   Sentence #           Word  POS    Tag                newTag
0            0  Sentence: 1      Thousands  NNS      O                     O
1            1          NaN             of   IN      O                     O
2            2          NaN  demonstrators  NNS      O                     O
3            3          NaN           have  VBP      O                     O
4            4          NaN        marched  VBN      O                     O
5            5          NaN        through   IN      O                     O
6            6          NaN         London  NNP  B-geo  B-geo|Location|Party
7            7          NaN             to   TO      O                     O
8            8          NaN        protest   VB      O                     O
9            9          NaN            the   DT      O                     O
10          10          NaN            war   NN      O                     O
11          11          NaN             in   IN      O                     O
12          12          NaN           Iraq  NNP  B-geo  B-geo|Location|Party
13          13          NaN            and   CC      O                     O
14          14          NaN         demand   VB      O                     O
15          15          NaN            the   DT      O                     O
16          16          NaN     withdrawal   NN      O                     O
17          17          NaN             of   IN      O                     O
18          18          NaN        British   JJ  B-gpe            B-gpe|Race
19          19          NaN         troops  NNS      O                     O
20          20          NaN           from   IN      O                     O
21          21          NaN           that   DT      O                     O
22          22          NaN        country   NN      O                     O
23          23          NaN              .    .      O                     O
24          24  Sentence: 2       Families  NNS      O                     O
25          25          NaN             of   IN      O                     O
26          26          NaN       soldiers  NNS      O                     O
27          27          NaN         killed  VBN      O                     O
28          28          NaN             in   IN      O                     O
29          29          NaN            the   DT      O                     O
30          30          NaN       conflict   NN      O                     O
31          31          NaN         joined  VBD      O                     O
32          32          NaN            the   DT      O                     O
33          33          NaN     protesters  NNS      O                     O
34          34          NaN            who   WP      O                     O
35          35          NaN        carried  VBD      O                     O
36          36          NaN        banners  NNS      O                     O
37          37          NaN           with   IN      O                     O
38          38          NaN           such   JJ      O                     O
39          39          NaN        slogans  NNS      O                     O
40          40          NaN             as   IN      O                     O
41          41          NaN              "   ``      O                     O
42          42          NaN           Bush  NNP  B-per    B-per|Party|String
43          43          NaN         Number   NN      O                     O
44          44          NaN            One   CD      O                     O
45          45          NaN      Terrorist   NN      O                     O
46          46          NaN              "   ``      O                     O
47          47          NaN            and   CC      O                     O
48          48          NaN              "   ``      O                     O
49          49          NaN           Stop   VB      O                     O
50          50          NaN            the   DT      O                     O
51          51          NaN       Bombings  NNS      O                     O
52          52          NaN              .    .      O                     O
53          53          NaN              "   ``      O                     O
54          54  Sentence: 3           They  PRP      O                     O
55          55          NaN        marched  VBD      O                     O
56          56          NaN           from   IN      O                     O
57          57          NaN            the   DT      O                     O
58          58          NaN         Houses  NNS      O                     O
59          59          NaN             of   IN      O                     O