v6: fork from v3, Float specialize

In [2]:
import pandas as pd
from tqdm import tqdm

In [3]:
from transformers import RobertaTokenizer

tokenizer = RobertaTokenizer.from_pretrained("roberta-base")

2021-08-14 05:12:21.255010: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0

In [4]:
df2 = pd.read_csv("./NER_multilabel_data_v2.csv")

In [6]:
k = 0
df3 = pd.DataFrame(columns=['Unnamed: 0', 'Sentence #', 'Word', 'POS', 'Tag', 'newTag'])
for _, row in tqdm(df2.iterrows(), total=df2.shape[0]):
    if "Float" in row.newTag: break
    words = tokenizer.tokenize(row.Word)
    for i, word in enumerate(words):
        if i == 0 and pd.isna(row["Sentence #"]):
            word = "Ġ"+word
        if i != 0:
            row["Sentence #"] = float("nan")
        row.Word = word
        #df3 = df3.append(row)
        df3.loc[k] = row
        k += 1

  0%|                                    | 419/1048575 [00:01<53:43, 325.12it/s]

In [7]:
row

Unnamed: 0      419
Sentence #      NaN
Word            2.3
POS              CD
Tag               O
newTag        Float
Name: 419, dtype: object

In [13]:
df3 = pd.DataFrame(columns=['Unnamed: 0', 'Sentence #', 'Word', 'POS', 'Tag', 'newTag'])

In [8]:
words = tokenizer.tokenize(row.Word)

In [18]:
df3 = pd.DataFrame(columns=['Unnamed: 0', 'Sentence #', 'Word', 'POS', 'Tag', 'newTag'])
k = 0
for i, word in enumerate(words):
    if i == 0 and pd.isna(row["Sentence #"]):
        word = "Ġ"+word
    if i != 0:
        row["Sentence #"] = float("nan")
    row.Word = word
    
    
    if row.Word == ".":
        row.newTag = "fullStop"
    df3.loc[k] = row
    k += 1

In [19]:
df3

  Unnamed: 0 Sentence # Word POS Tag newTag
0        419        NaN   Ġ2  CD   O  Float
1        419        NaN    .  CD   O  Float
2        419        NaN    3  CD   O  Float

In [15]:
word

'3'

In [12]:
words.index(".")

1

In [ ]:
df3[80:120]

In [ ]:
df3.to_csv("./NER_multilabel_data_v3.csv")

df3["Sentence #"] = (df3["Sentence #"].apply(lambda x: x if x else float("nan")))

In [ ]:
from telegram_notifier import send_message as telegram_bot_sendtext
telegram_bot_sendtext("v3已儲存")