In [24]:
import pandas as pd

df = pd.read_csv("./cache/NER_TRAINER_DATA_CATCH.csv")

In [28]:
list(list(df.labels)[0])

['[', "'", 'O', "'", ']']

In [1]:
from utils.trainer.NER import get_training_dataframe

In [4]:
df = get_training_dataframe({}, cache=False)

Reading Data from MongoDB...

100%|██████████████████████████████| 47960/47960 [00:51<00:00, 931.23it/s]

Loading Data to DataFrame

100%|█████████████████████████████████████| 20/20 [00:00<00:00, 30.05it/s]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
df

In [35]:
text = """1 | E | ["Party"]
1 | ason | ["Party"]
1 | Ġis | ["O"]
1 | ĠGood | ["O"]
1 | . | ["O"]"""

In [36]:
for row in text.split("\n"):
    print(f"""'{row.split(" | ")[2]}'""", end = ", ")

'["Party"]', '["Party"]', '["O"]', '["O"]', '["O"]',

In [3]:
df

                       Sentence #      token          labels
0        611c4180447a3d37c7285555          F             [O]
1        611c4180447a3d37c7285555         am             [O]
2        611c4180447a3d37c7285555      ilies             [O]
3        611c4180447a3d37c7285555        Ġof             [O]
4        611c4180447a3d37c7285555  Ġsoldiers             [O]
...                           ...        ...             ...
1181604  611cb621447a3d37c7288d6d         04  [TemporalUnit]
1181605  611cb621447a3d37c7288d6d        Ġ18  [TemporalUnit]
1181606  611cb621447a3d37c7288d6d          :  [TemporalUnit]
1181607  611cb621447a3d37c7288d6d         00  [TemporalUnit]
1181608  611cb621447a3d37c7288d6d          .             [O]

[1181609 rows x 3 columns]

In [8]:
text = "Eason will meet Dan at 2021-08-04 18:00."

In [ ]:
text

In [5]:
df

                       Sentence #      token          labels
0        611c4180447a3d37c7285555          F             [O]
1        611c4180447a3d37c7285555         am             [O]
2        611c4180447a3d37c7285555      ilies             [O]
3        611c4180447a3d37c7285555        Ġof             [O]
4        611c4180447a3d37c7285555  Ġsoldiers             [O]
...                           ...        ...             ...
1181604  611cb621447a3d37c7288d6d         04  [TemporalUnit]
1181605  611cb621447a3d37c7288d6d        Ġ18  [TemporalUnit]
1181606  611cb621447a3d37c7288d6d          :  [TemporalUnit]
1181607  611cb621447a3d37c7288d6d         00  [TemporalUnit]
1181608  611cb621447a3d37c7288d6d          .             [O]

[1181609 rows x 3 columns]

In [34]:
del df["cache_labels"]

In [35]:
df

                  Sentence # text          labels
0   611c4180447a3d37c7285555  NaN             [O]
1   611c4180447a3d37c7285555  NaN             [O]
2   611c4180447a3d37c7285555  NaN             [O]
3   611c4180447a3d37c7285555  NaN             [O]
4   611c4180447a3d37c7285555  NaN             [O]
..                       ...  ...             ...
10  611cb621447a3d37c7288d6d  NaN  [TemporalUnit]
11  611cb621447a3d37c7288d6d  NaN  [TemporalUnit]
12  611cb621447a3d37c7288d6d  NaN  [TemporalUnit]
13  611cb621447a3d37c7288d6d  NaN  [TemporalUnit]
14  611cb621447a3d37c7288d6d  NaN             [O]

[1181609 rows x 3 columns]

In [26]:
df = dfs

/home/eason/anaconda3/envs/adapter/lib/python3.7/site-packages/swifter/swifter.py:37: UserWarning: This pandas object has duplicate indices, and swifter may not be able to improve performance. Consider resetting the indices with `df.reset_index(drop=True)`.
  "This pandas object has duplicate indices, and swifter may not be able to improve performance. Consider resetting the indices with `df.reset_index(drop=True)`."

In [25]:
df

                       Sentence # text                   labels
0        611c4180447a3d37c7285555  NaN                        O
1        611c4180447a3d37c7285555  NaN                        O
2        611c4180447a3d37c7285555  NaN                        O
3        611c4180447a3d37c7285555  NaN                        O
4        611c4180447a3d37c7285555  NaN                        O
...                           ...  ...                      ...
1181604  611cb621447a3d37c7288d6d  NaN  T|e|m|p|o|r|a|l|U|n|i|t
1181605  611cb621447a3d37c7288d6d  NaN  T|e|m|p|o|r|a|l|U|n|i|t
1181606  611cb621447a3d37c7288d6d  NaN  T|e|m|p|o|r|a|l|U|n|i|t
1181607  611cb621447a3d37c7288d6d  NaN  T|e|m|p|o|r|a|l|U|n|i|t
1181608  611cb621447a3d37c7288d6d  NaN                        O

[1181609 rows x 3 columns]

In [16]:
df[50:70]

,Sentence #,text,labels,cache_labels
16,611c4180447a3d37c7285554,NaN,[O],O
17,611c4180447a3d37c7285554,NaN,[O],O
18,611c4180447a3d37c7285554,NaN,"[Race, B-gpe]",Race|B-gpe
19,611c4180447a3d37c7285554,NaN,[O],O
20,611c4180447a3d37c7285554,NaN,[O],O
21,611c4180447a3d37c7285554,NaN,[O],O
22,611c4180447a3d37c7285554,NaN,[O],O
23,611c4180447a3d37c7285554,NaN,[O],O
0,611c4180ccdb1644916f5688,NaN,[O],O
1,611c4180ccdb1644916f5688,NaN,[O],O
2,611c4180ccdb1644916f5688,NaN,[O],O
3,611c4180ccdb1644916f5688,NaN,[O],O
4,611c4180ccdb1644916f5688,NaN,[O],O
5,611c4180ccdb1644916f5688,NaN,[O],O
6,611c4180ccdb1644916f5688,NaN,[O],O
7,611c4180ccdb1644916f5688,NaN,[O],O
8,611c4180ccdb1644916f5688,NaN,[O],O
9,611c4180ccdb1644916f5688,NaN,[O],O
10,611c4180ccdb1644916f5688,NaN,[O],O
11,611c4180ccdb1644916f5688,NaN,"[Location, Party, B-geo]",Location|Party|B-geo

In [10]:
from utils.tokenizer import tokenizer

In [ ]:
text = "Eason will meet Dan at 2021-08-04 18:00."

In [15]:
for i in text.split(" "):
    print(f"'{i}'", end = ", ")

'Eason', 'will', 'meet', 'Dan', 'at', '2021-08-04', '18:00.',

In [33]:
dfs=origin_dfs
origin_dfs = dfs

In [34]:
import pandas as pd
from tqdm import tqdm
df_columns = ["Sentence #", "text", "labels"]

In [35]:
new_dfs = []
tmp_df = pd.DataFrame(columns = df_columns)

In [36]:
tmp_df

Empty DataFrame
Columns: [Sentence #, text, labels]
Index: []

In [40]:
for i, df in enumerate(tqdm(dfs)):
    if i%50 == 0:
        if i != 0: new_dfs.append(tmp_df)
        tmp_df = pd.DataFrame(columns = df_columns)
    tmp_df = tmp_df.append(df)
new_dfs.append(tmp_df)
#dfs = new_dfs

100%|███████████████████████████████████| 960/960 [00:28<00:00, 34.02it/s]

In [6]:
import pymongo

In [7]:
from core.config import MONGODB_URL, DATABASE_NAME, NER_LABEL_COLLECTION

In [8]:
col = pymongo.MongoClient(MONGODB_URL)[DATABASE_NAME][NER_LABEL_COLLECTION]

In [19]:
result = col.find_one({"user": "example@gmail.com"})

In [10]:
result["token_and_labels"]

[{'token': 'F', 'labels': ['O']},
 {'token': 'am', 'labels': ['O']},
 {'token': 'ilies', 'labels': ['O']},
 {'token': 'Ġof', 'labels': ['O']},
 {'token': 'Ġsoldiers', 'labels': ['O']},
 {'token': 'Ġkilled', 'labels': ['O']},
 {'token': 'Ġin', 'labels': ['O']},
 {'token': 'Ġthe', 'labels': ['O']},
 {'token': 'Ġconflict', 'labels': ['O']},
 {'token': 'Ġjoined', 'labels': ['O']},
 {'token': 'Ġthe', 'labels': ['O']},
 {'token': 'Ġprotesters', 'labels': ['O']},
 {'token': 'Ġwho', 'labels': ['O']},
 {'token': 'Ġcarried', 'labels': ['O']},
 {'token': 'Ġbanners', 'labels': ['O']},
 {'token': 'Ġwith', 'labels': ['O']},
 {'token': 'Ġsuch', 'labels': ['O']},
 {'token': 'Ġslogans', 'labels': ['O']},
 {'token': 'Ġas', 'labels': ['O']},
 {'token': 'Ġ"', 'labels': ['O']},
 {'token': 'ĠBush', 'labels': ['Party', 'B-per']},
 {'token': 'ĠNumber', 'labels': ['O']},
 {'token': 'ĠOne', 'labels': ['O']},
 {'token': 'ĠTerror', 'labels': ['O']},
 {'token': 'ist', 'labels': ['O']},
 {'token': 'Ġ"', 'labels': ['O']},
 {'token': 'Ġand', 'labels': ['O']},
 {'token': 'Ġ"', 'labels': ['O']},
 {'token': 'ĠStop', 'labels': ['O']},
 {'token': 'Ġthe', 'labels': ['O']},
 {'token': 'ĠBomb', 'labels': ['O']},
 {'token': 'ings', 'labels': ['O']},
 {'token': 'Ġ.', 'labels': ['O']},
 {'token': '"', 'labels': ['O']}]

In [18]:
for i in range(3):
    text = chr(ord("A")+i)
    print(f"""1 | {text} | ["O"]""")

1 | A | ["O"]
1 | B | ["O"]
1 | C | ["O"]

In [22]:
for row in result["token_and_labels"]:
    print(f"""{1} | {row["token"]} | {"|".join(row["labels"])}""")
    #print(row)

1 | E | Party|String
1 | ason | Party|String
1 | Ġwill | O
1 | Ġmeet | O
1 | ĠDan | Party|String
1 | Ġat | O
1 | Ġ2021 | TemporalUnit
1 | - | TemporalUnit
1 | 08 | TemporalUnit
1 | - | TemporalUnit
1 | 04 | TemporalUnit
1 | Ġ18 | TemporalUnit
1 | : | TemporalUnit
1 | 00 | TemporalUnit
1 | . | O